body {
    background: #444;
  }
  #infinity {
    width: 212px;
    height: 100px;
    margin: 250px auto;
    animation: hue-rotate 4s infinite;
  }
  
  #infinity:before,
  #infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid #AA2222;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
  }
  
  #infinity:before {
    filter: drop-shadow(10px 18px 10px black);
  }
  
  #infinity:after {
    filter: drop-shadow(18px -10px 10px black);
  }
  
  #infinity:after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
  }
  
  @keyframes hue-rotate {
    from {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
      filter: hue-rotate(0);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
      -moz-filter: hue-rotate(360deg);
      -ms-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
  /* ----------------------------- */
  .rahmen {
    position: absolute;
    top: 2%;
    left: 45%;
  }
  .kreis {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
    animation: move 4s infinite;
  }
  .a{
    animation-delay: 1s;
  }
  .b{
    animation-delay: 1.3s;
  }
  .c{
    animation-delay: 1.6s;
  }
  .d{
    animation-delay: 1.9s;
  }
  .e{
    animation-delay: 2.2s;
  }
  .f{
    animation-delay: 2.5s;
  }
  .g{
    animation-delay: 2.8s;
  }
  .h{
    animation-delay: 3.1s;
  }
  .i{
    animation-delay: 3.4s;
  }
  
  @keyframes move {
    0% {top:50px;left:50px;background-color:#00000;}
    6.25% {top:63px;left:60px;}
    12.5% {top:66px;left:70px;}
    18.75% {top:63px;left:77px;}
    25% {top:50px;left:85px;background-color:#207591;}
    31.25% {top:37px;left:77px;}
    37.5% {top:34px;left:70px;}
    43.75% {top:37px;left:60px;}
    50% {top:(50px);left:50px;background-color:#912033;}
    56.25% {top:63px;left:40px;}
    62.5% {top:66px;left:30px;}
    68.75% {top:63px;left:23px;}
    75% {top:50px;left:15px;background-color:#B7BD0B;}
    81.25% {top:37px;left:23px;}
    87.5% {top:34px;left:30x;}
    93.75% {top:37px;left:40px;}
    100% {top:50px;left:50px;background-color:#0FA814;
    }
  }